Listen {{ bugzilla_port | mandatory }}

<VirtualHost *:{{ bugzilla_port | mandatory }}>
  ServerName bmo

  DocumentRoot "/bugzilla"
  <Directory "/bugzilla">
    AllowOverride All
    Options +ExecCGI
    AddHandler cgi-script .cgi
    Require all granted
    DirectoryIndex index.cgi
  </Directory>

  ServerSignature Off
  ErrorDocument 500 /errordocs/500.html
  LogLevel info
  CustomLog /dev/null combined
</VirtualHost>
